.contact-form {
    display: block;
}

.form-control {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
.form-container {
    margin: auto;
}

.stretchingimg {
    float: right;
    height: 600px;

}